/* CSS by Griffin Hearn */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* ///ADD/// CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* ///ADD/// Skip Link Styles */
.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}

/* ///ADD/// Navigation Styles */
header {
  background-color: darkblue;
  margin-top: 0;
  color: white;
  padding-bottom: 3%;
  padding-top: 3%;
  padding-left: 2%;
}

h1 {
  font-size: 36px;
  margin-left: 3%;
}

header p {
  font-size: 12px;
  margin-left: 3%;
  margin-right: 5%;
  margin-bottom: 2%;
}

header label {
  display: block;
  background-color: red;
  padding: 2%;
  margin-left: 3%;
  margin-right: 6%;
  text-align: center;
}

.menu {
  display: none;
}

.menu-button:hover .menu {
  display: block;
  margin-right: 5%;
  margin-left: 5%;
  padding: 2%;
  text-align: center;
}

.menu li {
  margin-top: 5px;
  background-color: red;
  padding: 2%;
}

.menu a {
  color: white;
  text-decoration: none;
}
/* ///ADD/// Global Layout Styles */
main h2 {
  font-size: 24px;
  margin-bottom: 4%;
  margin-left: 6%;
}

main p {
  font-size: 12px;
  margin-bottom: 4%;
}

main section {
  margin: 6%;
}

section h2 {
  margin-left: 0;
}

blockquote {
  font-size: 12px;
  font-weight: bold;
}

.video {
  background-color: red;
  padding: 5%;
  color: white;
}

.video h3 {
  border-bottom: solid 1.5px white;
  padding-bottom: 2%;
}

.video p {
  padding-top: 2%;
}

video {
  width: 100%;
}

fieldset {
  border: solid 2px black;
  padding: 2%;
  width: 98.5%;
}

.featured {
  box-shadow: 0px 0px 10px;
  border-radius: 0.25rem;
  padding: 2%;
}

.featured h3 {
  border-bottom: 1.5px solid;
  padding: 2px;
}

.featured p {
  padding: 2px;
}

form {
  display: block;
  background-color: red;
  color: white;
  padding: 4%;
  padding-right: 8%;
}

form label {
  width: 100%;
}

form div {
  margin-top: 2%;
}

form input {
  width: 96.5%;
  margin-top: 2%;
  margin-bottom: 4%;
  padding: 2.5%;
  margin-left: 0;
}

form input[type=checkbox]{
  transform: scale(1.5);
  width: 10%;
}

form input[type=submit]{
  background-color: darkblue;
  color: white;
  width: 100%;
  padding: 2%;
  margin-top: 5%;
  margin-left: 1%;
}

footer {
  background-color: darkblue;
  padding-bottom: 1%;
}

footer h2 {
  color: white;
  margin: 2.5%;
  padding-top: 5%;
}

footer ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 2%;
}

footer li {
  background-color: red;
  width: 80%;
  text-align: center;
  padding: 7.5%;
  margin: 2.5%;
  margin-right: 5%;
}

footer li a {
  color: white;
  text-decoration: none;
}

footer p {
  color: white;
  text-align: center;
  font-size: 12px;
}
/* ///ADD/// Global Text Styles */


/* ///ADD/// medium styles 620px */
@media screen and (min-width: 620px){
  nav label {
    display: none;
  }

  .menu {
    display: flex;
    margin-left: 1%;
  }

  .menu li {
    margin: 1.5%;
  }

  h1 {
    font-size: 42px;
  }

  blockquote {
    width: 100%;
    text-align: center;
    font-size: 16px;
  }

  #video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .video {
    width: 87.5%;
    margin-left: 0;
    margin-right: 2%;
    margin-bottom: 0;
  }

  .video h3 {
    font-size: 20px;
    height: 24%;
  }

  #featured-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 3%;;
  }

  .featured {
    width: 90%;
  }

  .featured h3 {
    font-size: 20px;
  }

  .top-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -4%;
    width: 105%;
  }

  .top-form div {
    width: 94%;
  }

  #checkboxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 0;
  }

  input[type=sumbit] {
    width: 102%;
  }

  footer h2 {
    font-size: 24px;
    margin-left: 4%;
  }

  footer ul {
    display: flex;
  }
  
  footer li {
    padding: 2%;
    margin: 2%;
  }
}

/* ///ADD/// large styles 920px */
@media screen and (min-width: 920px){
  h1 {
    font-size: 48px;
  }

  header p{
    font-size: 18px;
  }

  main h2 {
    margin-bottom: 4%;
    font-size: 34px;
  }

  main p {
    font-size: 18px;
  }

  video {
    margin: 0;
    width: 100%;
    transform: translate(0rem, 1rem);
  }

  .video {
    height: 95%;
    width: 85%;
  }

  .video h3 {
    padding-bottom: 0;
    font-size: 26px;
  }

  .video p {
    padding-top: 2%;
    font-size: 16px;
  }

  #featured-grid {
    padding-top: 0;
  }

  main section {
    padding-bottom: 2%;
    margin-bottom: 6%;
  }

  #featured-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #featured-grid h2 {
    font-size: 32px;
  }

  #featured-grid section {
    padding: 3%;
    margin: 6%;
  }

  #featured-grid p {
    margin-top: 1%;
  }

  #checkboxes {
    grid-template-columns: 1fr 1fr 1fr;
  }
}